@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
}
/** @type {import('next').NextConfig} */
const nextConfig = {
  reactStrictMode: true,
  experimental: {
    optimizePackageImports: ['react', 'react-dom'],
  },
};

export default nextConfig;

